/* Стили для футера */
footer {
    background-color: #000000; /* Цвет фона */
    color: rgb(255, 255, 255); /* Цвет текста */
    padding: 20px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
  }